

#canvas{
    width: 800px;
    height: 500px;
    background-color: red;
    position: relative;
    margin: 0 auto;
}

.mosca:hover{
    background-color: blue;
}

#boton-reset{
    background: radial-gradient(#ffdc9e, #ffa70d);
}