body{
    background-color: black;
}

/*-- Estado inicial de las cosas cuando arranca el juego--*/
#butacas{
    display: none;
}

#caja-superior{
    width: 100vw;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

#canvas{
    width: 800px;
    height: 500px;
    background-color: black;
    background-image: url(../assets/img/fondo_start1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    cursor: crosshair;
}

#canvas *{
    cursor: crosshair;
}

p{
    position: absolute;
    background-color: rgba(255, 253, 123, 0.781);
    color: rgb(168, 25, 0);
    width: 75px;
    height: 25px;
    text-align: center;
    bottom: 0;
    z-index: 200;
    border-radius: 10px;
    font-family: "Pixelify Sans";
    padding-top: 6px;
    font-size: 17px;

}

.mosca{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../assets/img/faletev1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

#padre-moscas-start{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.moscas-start{
    width: 100px;
    height: 100px;
}

#boton-start{
    margin-left: 265px;
    width: 250px;
    height: 70px;
    background-image: url(../assets/img/boton-start1.png);
}


#butacas{
    background-image: url(../assets/img/butacasv2.png);
    width: 800px;
    height: 115px;
    z-index: 100;
    position: absolute;
    top : 385px;
}

/*Estilos del boton reset que buscamos*/
#boton-reset {
    --glow-color: rgb(255, 254, 176);
    --glow-spread-color: rgba(255, 253, 123, 0.781);
    --enhanced-glow-color: rgb(254, 255, 206);
    --btn-color: rgb(241, 229, 118);
    border: .25em solid var(--glow-color);
    padding: 0.1em 1.4em;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em rgb(168, 25, 0);
    position: relative;
    transition: all 0.3s;
}

#boton-reset::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 80%;
    width: 80%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .5;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

#boton-reset:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

#boton-reset:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}/*Aqui terminan los estilos del boton reset que buscamos*/