body{
    background-color: black;
}

/*-- Estado inicial de las cosas cuando arranca el juego--*/
#butacas{
    display: none;
}

#caja-superior{
    width: 100vw;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

#canvas{
    width: 800px;
    height: 500px;
    background-color: black;
    background-image: url(../assets/img/fondo_start1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#titulo-start{
    text-align: center;
    color: white;
}

.mosca{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../assets/img/faletev1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

#padre-moscas-start{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.moscas-start{
    width: 100px;
    height: 100px;
}

/*#boton-reset{
    background: radial-gradient(#ffdc9e, #ffa70d);
}*/

#butacas{
    background-image: url(../assets/img/butacasv2.png);
    width: 800px;
    height: 115px;
    z-index: 100;
    position: absolute;
    top : 385px;
}

/*Estilos del boton reset que buscamos*/
#boton-reset {
    --glow-color: rgb(255, 254, 176);
    --glow-spread-color: rgba(255, 253, 123, 0.781);
    --enhanced-glow-color: rgb(254, 255, 206);
    --btn-color: rgb(241, 229, 118);
    border: .25em solid var(--glow-color);
    padding: 0.1em 1.4em;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em rgb(168, 25, 0);
    position: relative;
    transition: all 0.3s;
}

#boton-reset::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 80%;
    width: 80%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .5;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

#boton-reset:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

#boton-reset:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}/*Aqui terminan los estilos del boton reset que buscamos*/


/*------------- Aqui comienza el diseño de el boton start-------------*/

#boton-start {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#boton-start .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-start .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

#boton-start .btn:hover a {
    letter-spacing: 3px;
}

#boton-start .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-start .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

#boton-start .btn:hover a {
    letter-spacing: 3px;
}

#boton-start .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

#boton-start .btn:hover a::before {
    transform: skewX(45deg) translate(200px);
}

#boton-start .btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

#boton-start .btn:hover::before /lightup button/ {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

#boton-start .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

#boton-start .btn:hover::after /lightup button/ {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

#boton-start .btn:nth-child(1)::before,
#boton-start .btn:nth-child(1)::after {
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}/* ------- Aqui termina el#boton-start-------------------*/